# Ignore the Firebase Admin key JSON
app/config/*.json

# Python virtual environment
venv/

# Environment variables
.env

# Cache files
__pycache__/
*.py[cod]

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
